.App {
  text-align: center;
}
body {
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
.myButton {
  cursor: pointer;
  border: 3px solid brown;
  padding: 8px;
  min-width: 64px;

  background: cadetblue;

  transition: all 0.1s ease-in;
}

.myButton:hover {
  background: #61dafb;
  color: #ffffff;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
